In [1]:
import pandas as pd
import numpy as np
import great_expectations as gx
import logging

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df

     A   B   C   D
0    4  46  49  60
1   85  63   4   7
2   10  75  94  85
3   86  47  59  51
4   20  10  90  80
..  ..  ..  ..  ..
95   2  21  16  40
96  11  62  54  54
97  15  42  43  83
98  49  43  52  60
99  70  13  63  56

[100 rows x 4 columns]

In [3]:
def log_issue(output_dict):
    if not output_dict['success']:
        logging.warning(output_dict)

In [4]:
def expectations_input(df):
    df_ge = gx.from_pandas(df)
    log_issue(df_ge.expect_column_to_exist("A"))

In [5]:
def expectations_output(df):
    df_ge = gx.from_pandas(df)
    log_issue(df_ge.expect_column_to_exist("A"))
    log_issue(df_ge.expect_column_to_exist("E"))

In [6]:
expectations_output(df)

WARNING:root:{
  "result": {},
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "expectation_config": {
    "meta": {},
    "kwargs": {
      "column": "E",
      "result_format": "BASIC"
    },
    "expectation_type": "expect_column_to_exist"
  }
}